.history/
.vscode/
*.swp
*.swo
*.orig
.DS_Store

# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*,obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*,a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*,so
*.so.*
*.dylib

